<wo:JMTablerLook currentPage="$PREF_PAGE" title="Preferences" pageId="Preferences">
	<div class="card p-3 mb-3">
		<h2>Monitor Password</h2>
		<p>
			<wo:if condition="$theApplication.siteConfig.isPasswordRequired">The password is currently set.</wo:if>
			<wo:if condition="$theApplication.siteConfig.isPasswordRequired" negate="$true">The password is currently <b>NOT</b> set. </wo:if>
		</p>
		<wo:form multipleSubmit="$true">
			<table>
				<tr>
					<th>Enter New Password:</th>
					<td><wo:textfield value="$adminPassword1" /></td>
				</tr>
				<tr>
					<th>Confirm New Password:</th>
					<td><wo:textfield value="$adminPassword2" /></td>
				</tr>
			</table>
			<p><wo:submit action="$passwordChangeClicked" value="Change Password" /> <wo:submit action="$passwordResetClicked" value="Reset Password" /></p>
		</wo:form>
	</div>

	<div class="card p-3 mb-3">
		<h2>Detail View Refesh Settings</h2>
		<p>The Detail View page can be configured to automatically refresh itself in your browser's window.</p>
		<wo:form>
			<p><wo:checkbox checked="$theApplication.siteConfig.viewRefreshEnabled" /> Auto-Refresh the Detail View</p>
			<p><wo:textfield value="$theApplication.siteConfig.viewRefreshRate" numberformat="0" size="3" /> second delay before refreshing.</p>
			<p><wo:submit action="$detailViewUpdateClicked" value="Update Settings" /></p>
		</wo:form>
	</div>
</wo:JMTablerLook>