<wo:JMTablerLook currentPage="$HOST_PAGE" title="Hosts" pageId="Hosts">
	<div class="card mb-3">
		<div class="card-header">
			Hosts
		</div>
		<table class="table table-sm table-striped mb-0">
			<tr>
				<th>Host name</th>
				<th>Available*</th>
				<th>Host Type</th>
				<th>Running Instances</th>
				<th>Processor Description</th>
				<th>OS / Platform</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
			<wo:repetition list="$application.siteConfig.hostArray" item="$currentHost">
				<tr>
					<td><wo:link action="$configureHostClicked"><wo:str value="$currentHost.name" /> / <wo:str value="$currentHost.addressAsString" /></wo:link></td>
					<td>
						<wo:if condition="$currentHost.isAvailable">YES | <wo:link action="$displayWotaskdInfoClicked" target="_blank">View Config</wo:link></wo:if>
						<wo:if condition="$currentHost.isAvailable" negate="$true"> <span class="HostNotAvailable">NO</span></wo:if>
					</td>
					<td><wo:str value="$currentHost.osType" /></td>
					<td><wo:str value="$currentHost.runningInstances" /></td>
					<td><wo:str value="$currentHost.processorType" /></td>
					<td><wo:str value="$currentHost.operatingSystem" /></td>
					<td><wo:link action="$configureHostClicked" class="btn btn-sm">Configure</wo:link></td>
					<td><wo:link action="$removeHostClicked" class="btn btn-sm btn-danger">Delete</wo:link></td>
				</tr>
			</wo:repetition>
		</table>
	</div>
	<div class="card p-3">
		<div class="row">
			<div class="col-md-6">
				<wo:form>
					<label class="mb-2"><strong>Add Host:</strong></label>
					<span class="input-group">
						<wo:textfield value="$newHostName" placeholder="hostname or IP address..." class="form-control" />
						<span class="input-group-text"> of type </span>
						<wo:popUpButton list="$hostTypeList" selection="$hostTypeSelection" class="form-control" />
						<wo:submit action="$addHostClicked" value="Add Host" class="btn" />
					</span> 
				</wo:form>
			</div>
			<div class="col-md-6 pt-3">
				<ul>
					<li>Hosts may be added as either hostnames or IP addresses**</li>
					<li>* A host is <i>available</i> if it is running the <b>wotaskd</b> service/daemon.</li>
					<li>** If "localhost" or "127.0.0.1" is a host, it must be the <b>only</b> host.</li>
				</ul>
			</div>
		</div>
	</div>
</wo:JMTablerLook>