<wo:if condition="$isRefreshEnabled">
	<wo:WOMetaRefresh action="$refreshClicked" seconds="$theApplication.siteConfig.viewRefreshRate" />
</wo:if>

<!-- FIXME:  Having the meta-refresh here above is...odd -->

<wo:JMTablerLook currentPage="$APP_PAGE" title="$myApplication.name" pageId="Applications">
	<!-- FIXME: These styles should be in a global CSS, just here while we work on fixing up the UI -->
	<style>
		.AppControlOff {
			padding: 3px;
			background-color: rgb(200,200,200);
			color: white;
			text-align: center;
		}
		.AppControlAutoRecoverOn, .AppControlNotRefusingNewSessions, .AppControlScheduleOn {
			padding: 3px;
			background-color: green;
			color: white;
			text-align: center;
		}

		.AppControlAutoRecoverOff, .AppControlRefusingNewSessions, .AppControlScheduleOff {
			padding: 3px;
			background-color: red;
			color: white;
			text-align: center;
		}
	</style>
	<wo:if condition="$hasHosts" negate="$true">
		<div class="alert alert-important alert-danger">
			<h3>There are no hosts configured.</h3>
			<p>Please <wo:link action="$hostsPageClicked">add hosts</wo:link> before adding instances.</p>
		</div>
	</wo:if>
	
	<div class="card p-3 mb-3">
		<h2>
			<wo:if condition="$myApplication.isRunning_M">
				<wo:link href="$hrefToApp" target="new"><wo:str value="$myApplication.name" /></wo:link>
			</wo:if>
			<wo:if condition="$myApplication.isRunning_M" negate="$true">
				<wo:str value="$myApplication.name" />
			</wo:if>
		</h2>
	
		<wo:if condition="$isRefreshEnabled">
			<p>This page automatically updates every <wo:str value="$theApplication.siteConfig.viewRefreshRate" /> seconds.</p>
		</wo:if>
	
		<wo:if condition="$currentBouncer"><div>Bouncer: <wo:str value="$currentBouncer.status" /></div></wo:if>
		
		<p>
			<wo:link action="$refreshClicked" class="btn btn-sm">Refresh</wo:link> <wo:link action="$showStatisticsClicked" class="btn btn-sm"><wo:if condition="$showDetailStatistics">Hide Stats</wo:if><wo:if condition="$showDetailStatistics" negate="$true">Show Stats</wo:if></wo:link>
		</p>
	</div>

	<div class="card mb-3">	
		<wo:if condition="$session.message.length">
			<div class="alert alert-important alert-danger">
				<wo:str value="$session.message" />
			</div>
		</wo:if>
		
		<table class="table table-sm table-bordered mb-0">
			<tr>
				<th>Select</th>
				<th>Name</th>
				<th>Host: Port</th>
				<th>Status</th>
				<th>Start / Stop</th>
				<th>Auto- Recover</th>
				<th>Refuse New Sessions</th>
				<th>Scheduled</th>
				<th>Next shutdown</th>
				<th>Deaths</th>
				<wo:if condition="$showDetailStatistics">
					<th>Transactions</th>
					<th>Active Sessions</th>
					<th>Average Transactions</th>
					<th>Average Idle Period</th>
				</wo:if>
				<wo:if condition = "$showDetailStatistics" negate="$true">
					<th>WOStats</th>
				</wo:if>
				<th>Configure</th>
				<th>Delete</th>
			</tr>
			<wo:repetition list="$displayGroup.allObjects" item="$currentInstance">
				<tr>
					<!-- Selection -->
					<td class="InstanceSelect">
						<wo:form action="$selectOne"><wo:AjaxObserveField action="$selectOne"><wo:checkbox checked="$isSelectedInstance"/></wo:AjaxObserveField></wo:form>
					</td>
					<!-- Instance Number -->
					<td>
						<wo:if condition="$currentInstance.isRunning_M">
							<wo:link href="$hrefToInst" target="new">
								<wo:str value="$currentInstance.displayName" />
							</wo:link>
						</wo:if>
						<wo:if condition="$currentInstance.isRunning_M" negate="$true">
							<wo:str value="$currentInstance.displayName" />
						</wo:if>
					</td>
					<!-- Host - Port -->
					<td class="InstanceHostPort">
						<wo:if condition="$currentInstance.isRunning_M">
							<wo:link href="$hrefToInstDirect" target="new">
								<wo:str value="$currentInstance.displayHostAndPort" />
							</wo:link>
						</wo:if>
						<wo:if condition="$currentInstance.isRunning_M" negate="$true">
							<wo:str value="$currentInstance.displayHostAndPort" />
						</wo:if>
					</td>
					<!-- Status (On/Off/Starting/Stopping) -->
					<td class="InstanceStatusColumn">
						<wo:img alt="$instanceStatusImageText" filename="$instanceStatusImage" height="35" width="49" />
					</td>
					<!-- Start/Stop Buttons -->
					<td class="InstanceStartStop">
						<div class="Balls">
							<wo:link action="$startInstance"><wo:img filename="start.png" alt="Start" height="19" width="19" /></wo:link>
							&nbsp;
							<wo:link action="$stopInstance"><wo:img filename="stop.png" alt="Stop" height="19" width="19" /></wo:link>
						</div>
					</td>
					<!-- Auto-Recover -->
					<td class="InstanceAutoRecover">
						<wo:if condition="$currentInstance.schedulingEnabled">
							<div class="AppControl AppControlAutoRecoverSchedulingOn">On</div>
						</wo:if>
						<wo:if condition="$currentInstance.schedulingEnabled" negate="$true">
							<wo:link action="$toggleAutoRecover"><wo:container elementName="div" class="$autoRecoverDivClass"><wo:str value="$autoRecoverLabel" /></wo:container></wo:link>
						</wo:if>
					</td>
					<!-- Refuse New Sessions -->
					<td class="InstanceRefuseNewSessions">
						<wo:if condition="$currentInstance.schedulingEnabled">
							<wo:container elementName="div" class="$refuseNewSessionsClass"><wo:str value="$refuseNewSessionsLabel" escapeHTML="$false" /></wo:container>
						</wo:if>
						<wo:if condition="$currentInstance.schedulingEnabled" negate="$true">
							<wo:if condition="$currentInstance.isRunning_M">
								<wo:link action="$toggleRefuseNewSessions">
									<wo:container elementName="div" class="$refuseNewSessionsClass"><wo:str value="$refuseNewSessionsLabel" escapeHTML="$false" /></wo:container>
								</wo:link>
							</wo:if>
							<wo:if condition="$currentInstance.isRunning_M" negate="$true">
								<div class="AppControl AppControlOff">Off</div>
							</wo:if>
						</wo:if>
					</td>
					<!-- Schedule -->
					<td class="InstanceSchedule">
						<wo:link action="$toggleScheduling" class="AppControlLink">
							<wo:container elementName="div" class="$schedulingDivClass"><wo:str value="$schedulingLabel" escapeHTML="$false" /></wo:container>
						</wo:link>
					</td>
					<!-- Next Scheduled Shutdown -->
					<td class="NextShutDown">
						<wo:str value="$nextShutdown" />
					</td>
					<td class="DeathCount">
						<wo:if condition="$shouldDisplayDeathDetailLink">
							<span class="Deaths"><wo:str value="$currentInstance.deathCount" numberformat="0" /></span>
							<wo:link action="$instanceDeathDetailClicked">(Details)</wo:link>
						</wo:if>
						<wo:if condition="$shouldDisplayDeathDetailLink" negate="$true">-</wo:if>
					</td>
					<!-- Statistics -->
					<wo:if condition="$showDetailStatistics">
						<td class="TransactionsCount">
							<wo:str value="$currentInstance.transactions" />
						</td>
						<td class="ActiveSessionCount">
							<wo:str value="$currentInstance.activeSessions" />
						</td>
						<td class="AverageTransactionsCount">
							<wo:str value="$currentInstance.avgTransactionTime" />
						</td>
						<td class="AverageIdlePeriod">
							<wo:str value="$currentInstance.averageIdlePeriod" />
						</td>
					</wo:if>
					<wo:if condition="$showDetailStatistics" negate="$true">
						<td class="InstanceWOStats">
							<wo:if condition="$currentInstance.isRunning_M">
								<wo:link href="$linkToWOStats" target="_blank" class="Button WOStatsButton"><span>WOStats</span></wo:link>
							</wo:if>
							<wo:if condition="$currentInstance.isRunning_M" negate="$true"><div class="WOStatsOff">Off</div></wo:if>
						</td>
					</wo:if>
					<!-- Configure -->
					<td>
						<wo:link action="$configureInstanceClicked" class="btn btn-sm btn-secondary">Config</wo:link>
					</td>
					<!-- Delete -->
					<td>
						<wo:link action="$deleteInstanceClicked" class="btn btn-sm btn-danger">Delete</wo:link>
					</td>
				</tr>
			</wo:repetition>

			<wo:if condition="$hasInstances">
				<!-- FIXME: We can probably just throw these rows out. Keeping them in just for now while we try out the layout
				<wo:if condition="$showDetailStatistics">
					<tr class="SpacerTableRow">
						<td colSpan = "16">&nbsp</td>
					</tr>
				</wo:if>
				<wo:if condition="$showDetailStatistics" negate="$true">
					<tr class="SpacerTableRow">
						<td colSpan = "13">&nbsp</td>
					</tr>
				</wo:if>
				  -->
				<tr style="background-color: rgb(240,240,240)">
					<td colspan="4">
						<strong>Select instances:</strong><br>
						<br>
						<wo:link action="$selectAllAction" class="btn btn-sm">All</wo:link> <wo:link action="$selectNoneAction" class="btn btn-sm">None</wo:link> <wo:link action="$selectRunning" class="btn btn-sm">Running</wo:link> <wo:link action="$selectNotRunning" class="btn btn-sm">Not Running</wo:link>
						<br>
						<br>
						<wo:form multipleSubmit="$true">
							Named: <wo:textfield value="$instanceNameFilterValue" placeholder="Regular Expression" />
							<wo:submit action="$selectInstanceNamesMatchingFilter" value="Select" />
						</wo:form>
						<div id="FilterByInstanceName__error">
							<wo:str value="$filterErrorMessage"></wo:str>
						</div>
					</td>
					<!-- Start / Stop All -->
					<td class="AllStartStop">
						<div class="Balls">
							<wo:link action="$startAllClicked"><wo:img filename="start.png" alt="Start" height="19" width="19" /></wo:link>
							&nbsp;
							<wo:link action="$stopAllClicked"><wo:img filename="stop.png" alt="Stop" height="19" width="19" /></wo:link>
						</div>
					</td>
					<!-- AutoRecover All -->
					<td class="AllAutoRecover">
						<div class="Balls">
							<wo:link action="$autoRecoverEnableAllClicked"><wo:img filename="start.png" alt="Start" height="19" width="19" /></wo:link>
							&nbsp;
							<wo:link action="$autoRecoverDisableAllClicked"><wo:img filename="stop.png" alt="Stop" height="19" width="19" /></wo:link>
						</div>
					</td>
					<!--  Refuse New Sessions All -->
					<td class="AllRefuseNewSessions">
						<div class="Balls">
							<wo:link action="$refuseNewSessionsAllClicked"><wo:img filename="start.png" alt="Start" height="19" width="19" /></wo:link>
							&nbsp;
							<wo:link action="$acceptNewSessionsAllClicked"><wo:img filename="stop.png" alt="Stop" height="19" width="19" /></wo:link>
						</div>
					</td>
					<!-- Scheduling All -->
					<td class="AllScheduling">
						<div class="Balls">
							<wo:link action="$schedulingEnableAllClicked"><wo:img filename="start.png" alt="Start" height="19" width="19" /></wo:link>
							&nbsp;
							<wo:link action="$schedulingDisableAllClicked"><wo:img filename="stop.png" alt="Stop" height="19" width="19" /></wo:link>
						</div>
					</td>
					<!-- Next Scheduled Shutdown -->
					<td class="AllBounce"><wo:link action="$bounceClicked" class="btn btn-sm btn-secondary">Bounce</wo:link>&nbsp;<wo:link pageName="HelpPage" fragmentIdentifier="18"><wo:img filename="help.png" height="24" width="24" /></wo:link></td>
					<td class="AllClearDeaths"><wo:link action="$clearAllDeathsClicked" class="btn btn-sm btn-secondary">Clear Deaths</wo:link></td>
					<!-- Statistics All -->
					<wo:if condition="$showDetailStatistics">
						<td class="TotalTransactionCount">
							<wo:str value="$totalTransactions" numberformat="0" />
						</td>
						<td class="TotalActiveSessions">
							<wo:str value="$totalActiveSessions" numberformat="0" />
						</td>
						<td class="TotalAverageTransaction">
							<wo:str value="$totalAverageTransaction" numberformat="0.000" />
						</td>
						<td class="TotalAverageIdleTime">
							<wo:str value = "$totalAverageIdleTime" numberformat="0.000" />
						</td>
					</wo:if>
					<wo:if condition="$showDetailStatistics" negate="$true">
						<td>
							<wo:str value="$actualRatePerMinute" numberformat="0.00" /> TPM
						</td>
					</wo:if>
					<!-- Configure -->
					<td><wo:link action="$configureApplicationClicked"  class="btn btn-sm btn-secondary"><span>Config</span></wo:link></td>
					<td><wo:link action="$deleteAllInstancesClicked"  class="btn btn-sm btn-danger"><span>Delete</span></wo:link></td>
				</tr>
			
				<wo:if condition="$showDetailStatistics">
					<tr class="TotalsForRunningInstances">
						<td colspan="10" class="label">Running Sessions</td>
						<td class="TotalTransactionCount"><wo:str value="$totalTransactionsForActiveInstances" numberformat="#,##0" /></td>
						<td class="TotalActiveSessions"><wo:str value="$totalActiveSessionsForActiveInstances" numberformat = "#,##0" /></td>
						<td class="TotalAverageTransaction"></td>
						<td class="TotalAverageIdleTime"></td>
						<td colspan="2"></td>
					</tr>
				</wo:if>
			</wo:if>
		</table>
	</div>
	
	<wo:if condition="$hasHosts">
		<div class="card p-3">
			<wo:form>
				Add: <wo:textfield value="$numberToAdd" numberformat="0" size="3" /> instance(s) on host: <wo:popUpButton list="$theApplication.siteConfig.hostArray" item="$aHost" displayString="$aHost.name" selection="$selectedHost" /> <wo:submit action="$addInstanceClicked" value="Add" />
			</wo:form>
		</div>
	</wo:if>
</wo:JMTablerLook>