<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
		<title>Monitor</title>
		<wo:ERXStyleSheet filename="tabler/css/tabler.min.css" />
	</head>
	<body class="d-flex flex-column" onload="document.getElementById('password').focus()">
		<div class="text-center mb-4">
			<div clas="row">
				<div class="col">
					<div class="container container-tight py-4">
						<div class="card p-3">
							<h1>Monitor Login</h1>
							<wo:if condition="$message.length">
								<div class="alert alert-danger"><wo:str value="$message" /></div>
							</wo:if>
							<wo:form>
								<h4>A password is required to access this application</h4>
								<p><wo:password value="$password" placeholder="Password" id="password" class="form-control" /></p>
					        	<p class="button_bar"><wo:submit action="$login" value="Login" class="btn" /></p>
							</wo:form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>