<wo:JMTablerLook currentPage="$APP_PAGE" title="Applications" pageId="Applications">
	<div class="card mb-3">
		<div class="card-header">
			Applications
		</div>
		<table class="table table-sm table-striped mb-0">
			<tr>
				<th>Application</th>
				<th colspan="2">
					Instances<br>
					Running / Configured
				</th>
			</tr>
			<wo:repetition list="$applications" item="$currentApplication">
				<tr>
					<td>
						<wo:link action="$appDetailsClicked"><wo:str value="$currentApplication.name" /></wo:link>
						<wo:if condition="$currentApplication.isRunning">
							<span style="float: right"><wo:link href="$hrefToApp" target="new"><wo:JMIcon name="Link" /></wo:link></span>
						</wo:if>
					</td>
					<td><wo:str value="$currentApplication.runningInstancesCount" /> / <wo:str value="$currentApplication.instanceArray.count" /></td>
					<td>
						<wo:link action="$appDetailsClicked" class="btn btn-sm">Instances</wo:link>
						<wo:link action="$configureClicked" class="btn btn-sm">Configuration</wo:link>
						<wo:link action="$bounceClicked" class="btn btn-sm">Bounce</wo:link>
						<wo:link action="$deleteClicked" class="btn btn-sm btn-danger">Delete</wo:link>
					</td>
				</tr>
			</wo:repetition>
			<tr style="color: gray">
				<td></td>
				<td><wo:str value="$totalInstancesRunning" /> / <wo:str value="$totalInstancesConfigured" /></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div class="card p-3">
		<div class="row">
			<wo:form action="$addApplicationClicked" class="col">
				<label class="mb-2"><strong>Add Application Named:</strong></label>
				<span class="input-group">
					<wo:textfield value="$newApplicationName" placeholder="new application name..." class="form-control" />
					<wo:submit action="$addApplicationClicked" class="btn" value="Add Application" />
				</span>
			</wo:form>
			<div class="col">
				<ul>
					<li>Application names may only contain alpha-numeric or '-'.</li>
			    	<li>Application names do not need to match the Application executable's filename.</li>
			    	<li>Application names are used by the adaptor for load-balancing.</li>
			    </ul>
			</div>
		</div>
	</div>
</wo:JMTablerLook>