<wo:JMTablerLook currentPage="$APP_PAGE">
	<b>Application Deaths</b>
	<br />
	<br />
	<wo:link action="$clearDeathsClicked">Clear History</wo:link> | <wo:link action="$returnClicked">Back to App Detail View</wo:link>
	<br />
	<br />
	<table border="1" cellpadding="3" cellspacing="1">
		<tr>
			<th colspan="2"> Date/Time Occurred </th>
		</tr>
		<wo:repetition list="$myInstance.deaths" item="$aDeath" index="$anIndex">
			<tr>
				<td><wo:str value="$anIndexPlusOne" /> </td>
				<td><wo:str value="$aDeath" /> </td>
			</tr>
		</wo:repetition>
	</table>
</wo:JMTablerLook>