<wo:JMTablerLook currentPage="$HOST_PAGE" title="$myHost.name" pageId="Hosts">
	<div class="card p-3 mb-3">
		<h2>Configuring Host "<wo:str value="$myHost.name" />"</h2>
		<wo:form>
			<p>The Host Type  determines the Path and OutputPath settings for an instance. The defaults are set at the application level. Changing the Type of this host will not automatically cause instances to update their Path and OutputPath settings. The new settings can be pushed from the Applications page.</p>
			<p>Select the new Host Type: <wo:popUpButton list="$hostTypeList" selection="$hostTypeSelection" /> <wo:submit action="$configureHostClicked" value="Configure Host" /></p>
		</wo:form>
	</div>
	<div class="card p-3 mb-3">
		<h2>Synchronize Host "<wo:str value="$myHost.name" />"</h2>
		<wo:form>
			<p>If this host is behaving strangely, it is possible that the host's configuration information is out of sync with the rest of your site or Monitor. Click the button to try to resync configuration information.</p>
			<p><wo:submit action="$syncHostClicked" value="Synchronize Host" /></p>
		</wo:form>
	</div>
</wo:JMTablerLook>